.no-scrollbar {
  overflow: auto; 
  -ms-overflow-style: none;   
  scrollbar-width: none;      
}
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}
