@import 'tailwindcss';

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #ffffff;
  font-family: 'SUIT', sans-serif;
}

#root {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
